button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.random{
    color: black;
}